h2 Profile
br

- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form.form-horizontal(action='/profile', method='POST')
  fieldset
    //legend Register
    .control-group
      label.control-label(for=everyauth.password.loginFormFieldName) Email
      .controls
        input.input-xlarge(type='text', name=everyauth.password.loginFormFieldName, value=everyauth.user.email)
    //-
      .control-group
        label.control-label(for=everyauth.password.passwordFormFieldName) Password
        .controls
          input.input-xlarge(type='password', name=everyauth.password.passwordFormFieldName)
    .control-group
      label.control-label(for=everyauth.password.loginFormFieldName) First Name
      .controls
        input.input-xlarge(type='text', name='name.first', value=everyauth.user.name.first)
    .control-group
      label.control-label(for=everyauth.password.loginFormFieldName) Last Name
      .controls
        input.input-xlarge(type='text', name='name.last', value=everyauth.user.name.last)
    .form-actions
      button.btn.btn-primary(type='submit') Save Profile
